:root {
	--color-text: #ffffff;
	--color-accent: #5dfdcb;
	--color-primary: #1d1d1d;
	--color-secondary: #0f0f0f;
}

body {
	font-family: Cabin, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 24px;
	margin: 0 auto;
	max-width: 960px;
	color: var(--color-text);
	background-color: var(--color-primary);

	margin: 0 1em;
}

#ping-form {
	display: flex;
	flex-direction: column;
	gap: calc(0.5 * 1em);

	max-width: 300px;
}

#ping-form input {
	padding: 0.5em 1em;
	margin-bottom: 1em;
	font-size: 20px;

	font-family: "Cabin", Arial, Helvetica, sans-serif;
	color: var(--color-text);
	background-color: var(--color-secondary);
	border: 3px solid var(--color-secondary);
	outline: none;
	transition: all 0.175s ease;
}

#ping-form input:active,
#ping-form input:focus {
	border-color: var(--color-accent);
	background-color: var(--color-primary);
}

#ping-form label {
	font-weight: 700;
}

#ping-form button {
	background-image: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0) 50%,
		var(--color-accent) 50%,
		var(--color-accent) 50%
	);
	background-color: rgba(0, 0, 0, 0);
	background-size: 200%;
	color: var(--color-text);
	font-family: "Cabin", Arial, Helvetica, sans-serif;
	font-size: 20px;
	border: 5px solid white;
	display: inline-block;
	font-weight: 700;
	margin: 0;
	padding: 0.5em 1.2em;
	text-align: center;
	text-decoration: none !important;
	transition: ease background-position 0.3s, ease all 0.175s;
}

#ping-form button:hover,
#ping-form button:active {
	color: var(--color-primary);
	border-color: var(--color-accent);
	cursor: pointer;
	background-position: -100% 100%;
}
